
.footprint-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
    color: #2C6E49;
    border-bottom: 2px solid #2C6E49;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

strong {
    color: #4CAF50;
}

.input-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #0077be;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #0077be;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
   
}

button:hover {
    background-color: #005580;
}


#result {
    margin-top: 20px;
}

.alert {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    display: none;
}