@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
    --background-color: #F5F5F5;
    --primary-color: #2C6E49;
    --secondary-color: #4CAF50;
    --highlight-color: #FFD700;
    --text-color: #7D7D7D;
    --button-color: #038cdb;
    --link-color: #87CEEB;
    --border-color: #8B4513;
    --accent-color: #FFA500;
    --hover-color: #D2B48C;
}
body{
   font-family: 'Poppins', sans-serif !important;
}