<title>Settings | {{name}}</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/settings.css')}}">
<style>

</style>

{% extends 'base.html' %}

{% block content %}

<main>
    <div class="grid-container">
        <aside>
            <nav>
                <ol>
                    <li > <a href="{{url_for('settings')}}">General Settings</a></li>
                    <li > <a href="{{url_for('personalinfo')}}">Personal Info</a></li>
                    <li><a href="">Help & Support</a></li>
                </ol>
            </nav>

        </aside>
        <div class="account-contain">
            <h1>Update Settings</h1>
            <form action="" method="post">
            <section id="profile-info">
                <ol class="head">
                    <li><h2>Profile Information</h2></li>
                </ol>
                <table class="mt-2">
                    <tr>
                        <td><label for="name">Name:</label></td>
                        <td><input type="text" id="name" name="name" value="{{info.name}}"></td>
                    </tr>
                    <tr>
                        <td><label for="age-group">Age Group:</label></td>
                        <td><input type="text" id="age-group" name="age-group" value="{{info.age_group}}"></td>
                    </tr>
                    <tr>
                        <td><label for="occupation">Occupation:</label></td>
                        <td><input type="text" id="occupation" name="occupation" value="{{info.occupation}}"></td>
                    </tr>
                </table>
            </section>
    
            <section id="email-preferences">
                <ol class="head">
                    <li><h2>Email Preferences</h2></li>
                </ol>
                <table class="mt-2 mb-2">
                    <tr class="tabrow">
                        <td><label for="email">Email:</label></td>
                        <td><input type="text" id="email" name="email" value="{{info.email}}"></td>
                    </tr>
                </table>
            </section>
            <section id="email-preferences">
                <ol class="head">
                    <li><h2>Password Preferences</h2></li>
                </ol>
                <table class="mt-2 mb-2">
                    <tr class="tabrow">
                        <td><label for="email">Password:</label></td>
                        <td><input type="text" id="password" name="password" value="" placeholder="Enter Your  Password" style="width: 110%;"></td>
                    </tr>
                </table>
            </section>
    
            <br>
          <div class="actionsection">
            <a href=""><button type="submit">Update</button></a>
          </div>
        </div>
    </form>
</div>


</main>



{% endblock %}