<title>Settings | {{name}}</title>
<style>
    
input{
    outline: none !important;
    border:  1px solid var( --border-color);
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 10px;
}
aside{
    grid-column: span 1;
    padding: 20px;
    border-right: 2px solid var(--primary-color);
    width: 80%;
   
}

ol li {
    padding: 10px;
    list-style: square;
    color: chocolate ;
    transition: 0.3s;

}
ol li:hover{
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    border-radius: 3px;
}
ol li a{
    color: var(--border-color) !important;
}
.account-contain{
    grid-column:  2 / span 3;
    padding: 20px;
    width: 100%;
}
.account-contain section{
    padding: 10px;
}
table tr td{
    padding: 8px;
}
.tabrow td{
    padding: 10px;
}
.actionsection{
    padding: 15px;
}
.actionsection button{
    padding: 5px;
    min-width: 20%;
    max-width: 40%;
    background: var(--primary-color);
    color: var(   --background-color);
    border: 1px solid var(    --hover-color);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    border-radius: 3px;
    transition: 0.5s;
}
.actionsection button:hover{
    transform: scale(1.1);
}
.head li h2{
 color: black;
}
.head li{
    box-shadow: none !important;
}
@media screen and (max-width:480px) {
    .grid-container{
        display: block;
    }
   aside{
    border-right: 0px;
    border-bottom: 2px solid var(--primary-color);

    grid-column: span 2;

   }
    
}
</style>


{% extends 'base.html' %}

{% block content %}

<main>
    <div class="grid-container">
        <aside>
            <nav>
                <ol>
                    <li > <a href="{{url_for('settings')}}">General Settings</a></li>
                    <li > <a href="{{url_for('personalinfo')}}">Personal Info</a></li>
                    <li><a href="">Help & Support</a></li>
                </ol>
            </nav>

        </aside>
        <div class="account-contain">
            <h1>Account Settings</h1>
            <section id="profile-info">
                <ol class="head">
                    <li><h2>Profile Information</h2></li>
                </ol>
                <table class="mt-2">
                    <tr>
                        <td><label for="name">Name:</label></td>
                        <td><input type="text" id="name" name="name" value="{{info.name}}" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="age-group">Age Group:</label></td>
                        <td><input type="text" id="age-group" name="age-group" value="{{info.age_group}}" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="occupation">Occupation:</label></td>
                        <td><input type="text" id="occupation" name="occupation" value="{{info.occupation}}" readonly></td>
                    </tr>
                </table>
            </section>
    
            <section id="email-preferences">
                <ol class="head">
                    <li><h2>Email Preferences</h2></li>
                </ol>
                <table class="mt-2 mb-2">
                    <tr class="tabrow">
                        <td><label for="email">Email:</label></td>
                        <td><input type="text" id="email" name="email" value="{{info.email}}" readonly></td>
                    </tr>
                </table>
            </section>
    
            <br>
          <div class="actionsection">
            <a href="{{url_for('updateinfo')}}"><button type="submit">Update</button></a>
          </div>
        </div>
</div>


</main>



{% endblock %}