<title>Tips | {{name}}</title>
<style>
    .section-1,.section-2{
        padding: 8px;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        margin:8px;
       }
       .section-1 p{
           padding: 10px;
           text-align: justify;
           color: var(  --border-color);
       }
       .section-1 h2,.section-2 h2{
           color: var(--primary-color);
           padding: 6px;
       }
       .acbtn{
           padding: 10px;
       }
       .acbtn button{
           border: 1px solid var(--primary-color);
           background: var( --link-color);
           border-radius: 2px;
           transition: 0.3s
       }
       .acbtn button:hover{
           transform: scale(1.09);
       }
       .line{
           background: var(--primary-color);
           height: 2px;
           width: 70px;
       }
       .sec-content ul li{
           padding: 4px;
           color: rgb(61, 61, 61);
       }
</style>
{% extends 'base.html' %}
{% block content %}


    <main class="p-4">
        <div class="d-flex flex-column align-items-center">
            <h2>Environmental Conservation Tips</h2>
            <div class="line"></div>
        </div>
        <section class="section-1">
          <h2> Common Tips </h2>
          <p>Implementing simple changes in daily routines plays a crucial role in conserving the environment and promoting personal well-being. By adopting eco-friendly habits like reducing energy consumption, minimizing waste, and opting for sustainable practices, individuals can contribute positively to global efforts for a healthier planet and a sustainable future.</p>
           <div class="acbtn">
            <a href="{{url_for('commontips')}}"><button>Get Eco Tips</button></a>
           </div>
        </section>
        <section class="section-2">
            <h2>Personalized Tips</h2>
            <div class="sec-content">
                <ul>
                    <li><strong>Tailored Advice: </strong>Personalized tips provide actionable advice aligned with individual lifestyles, preferences, and environmental goals.</li>
                    <li><strong>Recommendations: </strong>They cover energy-saving practices, sustainable transportation, waste reduction, mindful eating, and eco-friendly consumer habits.</li>
                    <li><strong>Education and Inspiration:</strong>These tips educate and inspire users to adopt greener practices, empowering them to effect meaningful changes.</li>

                </ul>
                <div class="acbtn">
                    <a href="{{url_for('personalized_tips')}}"><button>Get Personalized Tips</button></a>
                   </div>
            </div>
        </section>
    </main>



</div>
{% endblock %}